@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: start;
    src: url(./assets/fonts/start.ttf);
}

@font-face {
    font-family: afacad;
    src: url(./assets/fonts/afacad.ttf);
}

@font-face {
    font-family: pacman;
    src: url(./assets/fonts/crackman.otf);
}

@font-face {
    font-family: mario;
    src: url(./assets/fonts/mario.ttf);
}

@font-face {
    font-family: ls;
    src: url(./assets/fonts/ls.ttf);
}