@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: start;
    src: url(./assets/fonts/start.ttf);
}

@font-face {
    font-family: afacad;
    src: url(./assets/fonts/afacad.ttf);
}